* {
        border: none;
        border-radius: 0;
        font-family: TerminessTTF Nerd Font;
        font-size: 16px;
        text-shadow: none;
        box-shadow:    none;
        transition-duration: 0s;
        color: #c0caf5;
        background-color: #1a1b26;
}

window {
        font-weight:    bold;
        color:          #d5c4a1;
        background:     transparent;
}

#workspaces button {
        padding: 0 5px;
        background: #1a1b26;
        padding: 2px;
        border: 1px solid #4d5265;
}

#workspaces button.visible {
        background: #1a1b26;
}

#workspaces button.focused {
        background: #c0caf5;
}

#workspaces button.unfocused {
        background: #1a1b26;
}

#pulseaudio, #cpu, #network, #clock, #battery{
        padding: 0px 5px;
}
#language{
        padding-left: 5px;
}


#network{
}

#network.disconnected {
        color: red;
}

#battery {
        color: green;
}

#battery.critical {
        color: red;
}

#battery.good {
        color: green;
}

#battery.charging {
        color: green;
}
